
<!DOCTYPE html>
<html xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<title>China Tower List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" type="image/x-icon" href="../mystatic/img/cnmini.ico" media="screen" />
     <!-- bootstrap -->
    <link href="../mystatic/css/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="../mystatic/css/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet" />

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="../mystatic/css/compiled/layout.css" />
        <link rel="stylesheet" type="text/css" href="../mystatic/css/compiled/elements.css" />
    <link rel="stylesheet" type="text/css" href="../mystatic/css/compiled/icons.css" />
    <link rel="stylesheet" type="text/css" href="../mystatic/css/compiled/easyui.css" />

    <!-- libraries -->
    <link href="../mystatic/css/lib/font-awesome.css" type="text/css" rel="stylesheet" />
    <link href="../mystatic/css/lib/jquery.dataTables.css" type="text/css" rel="stylesheet" />
    
    <!-- this page specific styles -->
    <link rel="stylesheet" href="../mystatic/css/compiled/datatables.css" type="text/css" media="screen" />

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <!-- navbar -->
    <header class="navbar navbar-inverse" role="banner">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">CHINA <span style="color:red">T</span>OWER</a>
        </div>
        <ul class="nav navbar-nav pull-right hidden-xs">
            <li class="hidden-xs hidden-sm">
                <input class="search" type="text" />
            </li>
           
            
            <li class="dropdown">
                <a href="#" class="dropdown-toggle hidden-xs hidden-sm" data-toggle="dropdown">
                    <shiro:principal/>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="personal-info.html">个人信息</a></li>
                    <li><a href="#">账号设置</a></li>
                    <li><a href="loginout">退出登入</a></li>
                    
                </ul>
            </li>
            
            <li class="settings hidden-xs hidden-sm">
                <a href="#" onclick="JavaScript:history.back(-1);" role="button">
                    <i class="icon-share-alt"></i>
                </a>
            </li>
        </ul>
    </header>
    <!-- end navbar -->

    <!-- sidebar -->
    <div id="sidebar-nav">
        <ul id="dashboard-menu">
            <li>
                <a href="index">
                    <i class="icon-home"></i>
                    <span>首页</span>
                </a>  
                    
            </li>
            <li class="active">
            	<div class="pointer">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
                <a class="dropdown-toggle" href="#">
                    <i class="icon-th-large"></i>
                    <span>铁塔信息表</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="active submenu">
                    <li><a href="towerlist" class="active">铁塔信息列表</a></li>
                    <li><a href="addtower">添加数据</a></li>
                    <li><a href="uploadtower">上传数据</a></li>
                </ul>
            </li>            
            <!-- <li>
                <a href="chart-showcase.html">
                    <i class="icon-signal"></i>
                    <span>图表</span>
                </a>
            </li>
            <li>
                <a class="dropdown-toggle" href="#">
                    <i class="icon-group"></i>
                    <span>用户</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="user-list.html">用户列表</a></li>
                    <li><a href="new-user.html">新用户</a></li>
                    <li><a href="user-profile.html">用户资料</a></li>
                </ul>
            </li>
            <li>
                <a class="dropdown-toggle" href="#">
                    <i class="icon-edit"></i>
                    <span>表单</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="form-showcase.html">表单应用</a></li>
                    <li><a href="form-wizard.html">表单验证</a></li>
                </ul>
            </li>
            <li>
                <a href="gallery.html">
                    <i class="icon-picture"></i>
                    <span>相册</span>
                </a>
            </li>
            <li>
                <a href="calendar.html">
                    <i class="icon-calendar-empty"></i>
                    <span>日历</span>
                </a>
            </li>
            <li>
                <a class="dropdown-toggle" href="tables.html">
                    <i class="icon-th-large"></i>
                    <span>表格</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="tables.html">常用表格</a></li>
                    <li><a href="datatables.html">数据表格</a></li>
                </ul>
            </li>
            <li>
                <a class="dropdown-toggle ui-elements" href="#">
                    <i class="icon-code-fork"></i>
                    <span>UI 组件</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="ui-elements.html">UI 组件</a></li>
                    <li><a href="icons.html">Icons图标</a></li>
                </ul>
            </li>
            <li>
                <a href="personal-info.html">
                    <i class="icon-cog"></i>
                    <span>我的信息</span>
                </a>
            </li>
            <li>
                <a class="dropdown-toggle" href="#">
                    <i class="icon-share-alt"></i>
                    <span>其他</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="code-editor.html">代码编辑器</a></li>
                    <li><a href="grids.html">网格</a></li>
                    <li><a href="signin.html">登录</a></li>
                    <li><a href="signup.html">注册</a></li>
                </ul>
            </li> -->
        </ul>
    </div>
    <!-- end sidebar -->


	<!-- main container -->
    <div class="content">
	<!-- settings changer -->
        <div class="skins-nav">
            <a href="#" class="skin first_nav selected">
                <span class="icon"></span><span class="text">默认皮肤</span>
            </a>
            <a href="#" class="skin second_nav" data-file="../mystatic/css/compiled/skins/dark.css">
                <span class="icon"></span><span class="text">深色皮肤</span>
            </a>
        </div>
        
        <div id="pad-wrapper" class="datatables-page">
            
            <div class="row">
            	<table style="margin-bottom: 45px;margin-top: -30px;">
            		<tr>
            			<td style="width:120px">
            				<h4>站点编码：</h4>
            			</td>
            			<td style="width:200px">
            				<input type="text" id="zdid" class="form-control" style="width: 150px" />
            			</td>
            			<td style="width:120px">
            				<h4>站点名称：</h4>
            			</td>
            			<td style="width:200px">
            				<input type="text" id="ttmc" class="form-control" style="width: 150px" />
            			</td>
            			<td style="width:80px">
            				<div class="btn-glow" onclick="resetCondition()"><i class="icon-reply"></i> 重置</div>
            			</td>
            			<td>
            				<div class="btn-glow" onclick="searchData()"><i class="icon-search"></i> 查询</div>
            			</td>
            		</tr>
            	</table>
            	
         
                <div class="col-md-12">
					<div id="table_length" class="dataTables_length"><label>Show <select size="1" name="example_length" aria-controls="example" onchange="changeLength(this.options[this.options.selectedIndex].value)"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div>
                    <table style="float:right;margin-bottom: 10px;">
                    <tr>
                    	<td>
                    	<div class="btn-glow" onclick="deleteAll()" style="margin-right: 15px;"><i class="icon-remove"></i> 删除所有</div>
                    	</td>
                    	<td>
                    	<div class="btn-glow" onclick="filedownload()"><i class="icon-share"></i> 导出</div>
                    	</td>
                    </tr>
                    </table>
                    <!-- <div class="btn-glow" onclick="deleteAll()" style="margin-bottom: 10px;margin-right: 765px;"><i class="icon-remove"></i> 删除所有</div>
                    <div class="btn-glow" onclick="filedownload()" style="float:right;margin-bottom: 10px;"><i class="icon-share"></i> 导出</div> -->
                    <table cellpadding="0" cellspacing="0" border="0" class="dataTable table-striped table-condensed" id="towerTable" style="width:100% !important;">
                    	<thead>
							<tr role="row">
								<th tabindex="0" rowspan="1" colspan="1">序号</th>
								<th tabindex="0" rowspan="1" colspan="1">站点编码</th>
								<th tabindex="0" rowspan="1" colspan="1">铁塔名称</th>	
								<th tabindex="0" rowspan="1" colspan="1">移动名称</th>
								<th tabindex="0" rowspan="1" colspan="1">电信名称</th>	
								<th tabindex="0" rowspan="1" colspan="1">联通名称</th>
								<th tabindex="0" rowspan="1" colspan="1">操作</th>	
							</tr>
						</thead>
						<tbody></tbody>
                    </table>
                    <div class="dataTables_info" id="table_info"></div>
                    <div class="pagination" style="text-align: right;float: right;margin-top: -20px;">
						<ul id="paginator" class="pagination"></ul>
					</div>
                </div>
                
            </div>
            
        </div>
        
    </div>


	<!-- scripts -->
	<script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../mystatic/js/bootstrap.min.js"></script>
    <script src="../mystatic/js/jquery.dataTables.js"></script>
    <script src="../mystatic/js/jqPaginator.js"></script>
    <script src="../mystatic/js/jquery.easyui.min.js"></script>
    <script src="../mystatic/customjs/towerlist.js"></script>
	<script src="../mystatic/js/theme.js"></script>
    
</body>
</html>